In [1]:
#Import dependencies
from sqlalchemy import create_engine, inspect
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#import password
from config import password

#Import SQLAlchemy Automap, ORM from class
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import sqlalchemy

ModuleNotFoundError: No module named 'config'

In [2]:
engine = create_engine('postgresql://postgres:khan17@localhost:5432/EmployeeSQL')
connection = engine.connect()

In [3]:
inspector = inspect(engine)
inspector.get_table_names()

['Employees', 'Dept_emp', 'Departments', 'Dept_manager', 'Titles', 'Salaries']

In [4]:
#database into ORM class for tables needed 
Base = automap_base()
Base.prepare(engine, reflect = True)
Base.classes.keys()

NameError: name 'automap_base' is not defined

In [5]:
# Assign the "Departments" class to a variable called Departments
Departments = Base.classes.departments

# Assign the "Employees" class to a variable called Employees
Employees = Base.classes.employees

# Assign the "Salaries" class to a variable called Salaries
Salaries = Base.classes.salaries

# Assign the "Titles" class to a variable calledTitlesEmployees
Titles = Base.classes.titles

NameError: name 'Base' is not defined

In [6]:
#start session to query the database
session = Session(bind=engine)

NameError: name 'Session' is not defined

In [7]:
#query the employees database
query = session.query(Employees)
employee_df = pd.read_sql_query(query.statement, session.get_bind())
employee_df = employee_df.rename(columns={
                                        "emp_no":"emp_no",
                                        "emp_title_id":"title_id",
                                        "birth_date":"birth_date",
                                        "first_name":"first_name",
                                        "last_name":"last_name",
                                        "gender":"gender",
                                        "hire_date":"hire_date"})
employee_df.head()

NameError: name 'session' is not defined

In [8]:
#query the employees database for departments
query = session.query(Departments)
department_df = pd.read_sql_query(query.statement, session.get_bind())
department_df.head()

NameError: name 'session' is not defined

In [9]:
query = session.query(Salaries)
salaries_df = pd.read_sql_query(query.statement, session.get_bind())
salaries_df.head()

NameError: name 'session' is not defined

In [10]:
query = session.query(Titles)
titles_df = pd.read_sql_query(query.statement, session.get_bind())
titles_df.head()

NameError: name 'session' is not defined

In [11]:
employees_titles_df = pd.merge(titles_df, employee_df, on="title_id", how="outer")
employees_titles_df.head()

NameError: name 'titles_df' is not defined

In [12]:
#create the df for employees and salaries joined
salary_title_df = pd.merge(employees_titles_df, salaries_df, on="emp_no", how="outer")
salary_title_df.head()

NameError: name 'employees_titles_df' is not defined

In [13]:
#find the min and max to set bins
salary_title_df.describe()

NameError: name 'salary_title_df' is not defined

In [14]:
# Create bins
# Create size bins
size_bins = [40000-1, 50000-1, 60000-1, 70000-1, 80000-1, 90000-1, 100000-1, 110000-1, 120000-1, 130000+1]

# Create labels for bins
group_names = ["$40,000-$49,999", "$50,000-$59,999", "$60,000-$69,999", "$70,000-$79,999",
              "$80,000-$89,999", "$90,000-$99,999", "$100,000-$109,999", 
              "$110,000-$119,999", "$120,000-$130,000"]
salary_title_df["Salary Range"] = pd.cut(salary_title_df["salary"], size_bins,labels=group_names)
salary_title_df.head()

NameError: name 'salary_title_df' is not defined

In [15]:
#group based on bins
salary_group_df = salary_title_df.groupby("Salary Range")
salary_group_df = salary_group_df["salary", "Salary Range"].count()
salary_group_df

NameError: name 'salary_title_df' is not defined

In [16]:
# Create chart
salary_freq = salary_title_df["salary"].plot(kind="hist", xlim=[40000,130000], ylim=[0, 175000], 
                                             figsize=(10,6), color="tab:blue")

# Set labels
salary_freq.set_xlabel("Salary Range ($)", fontsize=18)
salary_freq.set_ylabel("Number of Salaries", fontsize=18)
salary_freq.set_title("Salary Frequency", fontsize=20)

# Set layout
plt.tight_layout()

# Show plot
salary_freq = plt.gcf()
# Save figure
salary_freq.savefig("images/Salary_Frequency.png")
plt.show()

NameError: name 'salary_title_df' is not defined

In [17]:
#group by title and find mean salary
title_salary = salary_title_df.groupby("title").mean()
title_salary

NameError: name 'salary_title_df' is not defined

In [18]:
#create chart
salary_chart = title_salary["salary"].plot(kind="bar", ylim=[40000, 60000], figsize=(10,6))

#set labels
salary_chart.set_xlabel("Job Title", fontsize=16)
salary_chart.set_ylabel("Salary ($)", fontsize=16)
salary_chart.set_title("Average Salary by Job Title", fontsize=18)

#set xtick rotations
plt.xticks(rotation=60)


#set layout
plt.tight_layout()

#show plt
salary_chart = plt.gcf()
salary_chart.savefig("images/Average Salary.png")
plt.show()

NameError: name 'title_salary' is not defined

In [19]:
# Test my emp_no
emp_no = salary_title_df.loc[salary_title_df["emp_no"]==499942]
emp_no.head()

NameError: name 'salary_title_df' is not defined